@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: 'Nunito', sans-serif, Arial, sans-serif;
  background-color: #14161D;
}

/*
  Content
*/

main {
  width: 100svw;
  height: 100svh;
}

/* cookies */

.dialog {
  background-color: #fff;
  color: #000;
  width: 200px;
  height: 300px;
}

/* artical */

article {
  width: 100%;
  height: 100%;
}

article p {
  max-width: 800px;
  color: #fff;
  font-size: 20px;
}

.orange {
  color: #f90;
}

.green {
  color: #9f0;
}

.purple {
  color: #90f;
}
