@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: 'Nunito', sans-serif, Arial, sans-serif;
  background-color: #14161D;
}

.hidden {
  display: none;
}

/*
  Content
*/

main {
  width: 100svw;
  height: 100svh;
  position: relative;
}

/* cookies */

.dialog {
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 260px;
  height: 260px;
  padding: 10px;
  border-radius: 8px;
  top: calc(50svh - 130px);
  left: calc(50svw - 130px);
}

.button {
  margin-top: 10px;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}

.accept, .save {
  background-color: #09f;
  color: #fff;
  border: 1px solid #09f;
}

.accept:hover, .save:hover {
  background-color: #fff;
  color: #09f;
  border: 1px solid #09f;
}

.settings {
  background-color: #fff;
  color: #09f;
  border: 1px solid #09f;
}

.settings:hover {
  background-color: #09f;
  color: #fff;
}

.save {
  width: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 10px 15px 0 0;
}  

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #09f;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
background-color: #5100ff;
}

input:checked + .slider:before {
-webkit-transform: translateX(18px);
-ms-transform: translateX(18px);
transform: translateX(18px);
}


/* artical */

article {
  width: 100%;
  height: 100%;
}

article p {
  max-width: 800px;
  color: #fff;
  font-size: 20px;
}

.orange {
  color: #f90;
}

.green {
  color: #9f0;
}

.purple {
  color: #90f;
}
